@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&family=Noto+Sans+Tangsa:wght@600&family=Passion+One:wght@400;700&family=Stardos+Stencil:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100vh;
}

header {
    padding: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    max-width: 1250px;

    margin: auto;
}

header img {
    width: 280px;
}

header a {
    text-decoration: none;

    color: #595959;

    font-size: 16px;

    padding-right: 15px;
}

header a:hover {
    color: #949393;
}

#imagens {
    width: 240px;
    height: 250px;

    background-image: url(../imagens/img12.jpg);
    background-size: cover;
    background-position: center center;

    margin: 5px;
}

.parte1 {
    display: grid;
    justify-items: center;
    justify-content: center;

    margin: auto;

    width: 100vw;
}

.linha1 {
    display: flex;
}

.linha2 {
    display: flex;
}

.parte2 {
    position: relative;
    top: -40px;
}

.servicos {
    display: flex;
    align-items: center;

    max-width: 980px;

    font-size: 12px;

    text-align: center;

    color: white;

    margin: 0 auto;
}

.box01 {
    width: 30%;

    background-color: #488AB1;

    padding: 35px 2%;
}

.box01 p {
    margin-top: 12px;
}

.box01 h3 {
    font-weight: normal;
    font-size: 18px;
}

.box02 {
    width: 40%;

    background-color: #26C3D6;

    padding: 70px 2%;
}

.box02 p {
    margin-top: 12px;
}

.box02 h3 {
    font-weight: normal;
    font-size: 18px;
}

.box03 {
    width: 30%;

    background-color: #488AB1;

    padding: 25px 2%;
}

.box03 h3 {
    font-weight: normal;
    font-size: 18px;
}

.box03 p {
    margin-top: 12px;
}

.parte3 {
    display: flex;


    max-width: 980px;
    height: 580px;

    margin: 0 auto;
    padding: 25px;
}

.imagen-fernada {
    background-image: url(../imagens/foto-fernanda.png);
    background-size: 100% 100%;
    background-position: top center;

    width: 40%;

    background-color: #595959;
}

.sobre-fernada {
    width: 60%;

    padding: 25px 40px 40px 40px;
}

.sobre-fernada h2 {
    font-size: 2.5rem;
    font-weight: normal;
}

.sobre-fernada strong {
    color: #488AB1;
}

.sobre-fernada p, ul {
    color: #333;
}

.sobre-fernada li {
    list-style: inside;
    list-style-type: armenian;
}