@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#in {
    max-width: 980px;
    height: 100vh;
    margin: auto;
}

div#in > iframe {
    width: 264px;
    height: 475px;
    overflow: hidden;
    background-image: url(imagens/tela-home.jpg);
    background-size: cover;
    background-attachment: fixed;
}

div {
    position: relative;
    height: 100vh;
    max-width: 980px;
    margin: auto;
}

.celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 89%;
}

nav > a {
    display: block;
    padding-bottom: 20px;
}

img.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}