section#parte-2 .container {
    flex-direction: column;
}

section#parte-2 .container div {
    margin-bottom: 10px;
}

footer nav {
    display: none;
}

.material-symbols-outlined {
    display: block;

    cursor: pointer;
}

.material-symbols-outlined:hover {
    background-color: rgba(224, 10, 10, 0.63);

    border-radius: 5px;
}

.navegador nav a {
    display: none;
}

.texto-abaixo {
    display: flex;
    align-items: center;
    flex-direction: column;
}